*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-nav {
    /* height: 40vh; */
    background-color: #F0F0F0;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;

    padding-bottom: 2rem;
}

.menu-burger {
    padding: .5rem;
}
.menu-burger button{
    display: flex;
    align-items: center;
    background: transparent;
    border: 1px solid #c5c4c4;
    border-radius: 2px;
    padding: .2rem .5rem;
    gap: 3px !important;

    font-size: 14px;
    font-family: Inter, sans-serif;

}

.content {
    text-align: center;
    margin: 0px 15rem;
}

.content h1{
    margin: 1rem 0;
}
.content p{
    color: #a7a6a6;
    margin-bottom: 1.5rem;
    font-family: serif;
}

.socila-links-lists {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    font-size: 20px;

}
.socila-links-lists li a{
    color: #8b8a8a;
}



