.back-link {
  text-align: center;
  padding-top: 2rem;
}

.back-link a {
  font-size: 0.9rem;
  color: #a1a1a1;
  text-decoration: none;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.date {
  color: #a1a1a1;
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: 1.5px;
}

/* ////////////////////// */
/* ABOUT ME PAGE STYLING */
/* //////////////////// */

.flex-box {
  display: flex;
  margin: 5rem 10rem;
  gap: 2rem;
}

.about-me-2 {
  border: 1px solid black;
  padding: 0.9rem;
  width: 40%;

  font-family: Inter, sans-serif;
  font-size: 15px;
}

.author-about-me-2,
.author-about-extra {
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.author-about-me-2-p {
  margin-bottom: 1rem !important;
  font-size: 12px;
  letter-spacing: 1px;
  color: #5a5a5a;
  line-height: 1.5;
}

.author-image {
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 50%;
  margin-bottom: 1rem;

  margin: 0 50px;
}

.about-content {
  letter-spacing: 1px;
}

.about-content h1 {
  font-family: Inter, sans-serif;
  margin: 1rem 0;
}

.about-content p {
  color: #5a5a5a;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-family: serif;
  width: 100%;
}
